Repository formspree/formspree-js: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn sort-package-json, yarn prettier --write

.lintstagedrc.yaml:

package.json: yarn sort-package-json
'./*.{json,md,yaml}': yarn prettier --write

lint-staged prettier json,md,yaml
  .lintstagedrc.yaml
  .prettierignore
  .prettierrc.yaml
  examples/cra-demo/tsconfig.json
  packages/formspree-core/.lintstagedrc.yaml
  packages/formspree-react/.lintstagedrc.yaml
Due: yarn prettier --write

lint-staged prettier js,jsx,ts,tsx
  packages/formspree-core/.lintstagedrc.yaml
  packages/formspree-react/.lintstagedrc.yaml
Due: yarn prettier --write

rename file extension yaml -> yml to be consistent with existing files
  .lintstagedrc.yaml
  .lintstagedrc.yml
  .prettierrc.yml
  packages/formspree-core/.lintstagedrc.yml
  packages/formspree-react/.lintstagedrc.yml
Due: yarn prettier --write

chore: run prettier on everything
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/release.yml
  README.md
  examples/cra-demo/README.md
  examples/cra-demo/src/App.tsx
  examples/cra-demo/src/PaymentForm.tsx
  examples/cra-demo/src/RecaptchaForm.tsx
  examples/cra-demo/src/SimpleForm.tsx
  examples/cra-demo/src/index.css
  packages/formspree-core/.babelrc
  packages/formspree-core/src/base64.js
  packages/formspree-core/src/core.ts
  packages/formspree-core/src/forms.ts
  packages/formspree-core/src/index.ts
  packages/formspree-core/src/session.ts
  packages/formspree-core/src/utils.ts
  packages/formspree-core/test/form.test.js
  packages/formspree-core/test/submitForm.test.js
  packages/formspree-core/test/utils.test.js
  packages/formspree-react/.babelrc
  packages/formspree-react/CHANGELOG.md
  packages/formspree-react/src/ValidationError.tsx
  packages/formspree-react/src/context.tsx
  packages/formspree-react/src/index.ts
  packages/formspree-react/src/useForm.ts
  packages/formspree-react/test/ValidationError.test.tsx
  packages/formspree-react/test/context.test.js
  packages/formspree-react/test/useForm.test.js
Due: yarn prettier --write

chore: fix lint-staged to run on each commit (#32)
  .editorconfig
  .husky/pre-commit
  .lintstagedrc.yml
  .prettierrc.yml
  examples/cra-demo/tsconfig.json
  package.json
  packages/formspree-core/.lintstagedrc.yml
  packages/formspree-core/.prettierrc
  packages/formspree-core/package.json
  packages/formspree-react/.lintstagedrc.yml
  packages/formspree-react/.prettierignore
  packages/formspree-react/.prettierrc
  packages/formspree-react/package.json
  yarn.lock
Due: yarn sort-package-json, yarn prettier --write

chore: @formspree/react use latest (local) @formspree/core
  packages/formspree-react/package.json
Due: yarn sort-package-json, yarn prettier --write

chore: manage typescript at workspace root
  package.json
  packages/formspree-core/forms.d.ts
  packages/formspree-core/package.json
  packages/formspree-core/src/core.ts
  packages/formspree-core/tsconfig.json
  packages/formspree-react/package.json
  packages/formspree-react/src/context.tsx
  packages/formspree-react/src/useForm.ts
  packages/formspree-react/tsconfig.json
  tsconfig.json
  turbo.json
  yarn.lock
Due: yarn sort-package-json, yarn prettier --write

lint-staged: run typecheck on any .ts, .tsx change
  .lintstagedrc.yml
Due: none

typechecking test folder
  packages/formspree-core/tsconfig.json
  packages/formspree-react/tsconfig.json
Due: yarn prettier --write

fix typescript errors in ValidationError.test.tsx
  packages/formspree-react/test/ValidationError.test.tsx
Due: none

tweak lint-staged to run typecheck
  .lintstagedrc.yml
  packages/formspree-core/.lintstagedrc.yml
  packages/formspree-react/.lintstagedrc.yml
Due: none

tsconfig: change lib for react
  packages/formspree-react/tsconfig.json
Due: yarn prettier --write

revert removal of packages/formspree-core/forms.d.ts
  packages/formspree-core/forms.d.ts
Due: none

Revert "revert removal of packages/formspree-core/forms.d.ts"
  packages/formspree-core/forms.d.ts
Due: none

tsconfig: hoist lib config to root
  packages/formspree-react/tsconfig.json
  tsconfig.json
Due: yarn prettier --write

Revert "tweak lint-staged to run typecheck"
  .lintstagedrc.yml
  packages/formspree-core/.lintstagedrc.yml
  packages/formspree-react/.lintstagedrc.yml
Due: none

run typecheck in github action
  .github/workflows/ci.yaml
Due: yarn prettier --write

run GH action only on push
  .github/workflows/ci.yaml
Due: yarn prettier --write

ci: run yarn build before typecheck because we need types
  .github/workflows/ci.yaml
Due: yarn prettier --write

run CI only on packages
  .github/workflows/ci.yaml
Due: yarn prettier --write

clean-up lint-staged typecheck on root (no longer needed)
  .lintstagedrc.yml
Due: none

don't need "topo" technique in turbo.json
  turbo.json
Due: yarn prettier --write

chore: run prettier on everything (#34)
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/release.yml
  README.md
  examples/cra-demo/README.md
  examples/cra-demo/src/App.tsx
  examples/cra-demo/src/PaymentForm.tsx
  examples/cra-demo/src/RecaptchaForm.tsx
  examples/cra-demo/src/SimpleForm.tsx
  examples/cra-demo/src/index.css
  packages/formspree-core/.babelrc
  packages/formspree-core/src/base64.js
  packages/formspree-core/src/core.ts
  packages/formspree-core/src/forms.ts
  packages/formspree-core/src/index.ts
  packages/formspree-core/src/session.ts
  packages/formspree-core/src/utils.ts
  packages/formspree-core/test/form.test.js
  packages/formspree-core/test/submitForm.test.js
  packages/formspree-core/test/utils.test.js
  packages/formspree-react/.babelrc
  packages/formspree-react/CHANGELOG.md
  packages/formspree-react/src/ValidationError.tsx
  packages/formspree-react/src/context.tsx
  packages/formspree-react/src/index.ts
  packages/formspree-react/src/useForm.ts
  packages/formspree-react/test/ValidationError.test.tsx
  packages/formspree-react/test/context.test.js
  packages/formspree-react/test/useForm.test.js
Due: yarn prettier --write

revert tsconfig jsx back to `react` to avoid introduce breaking change to the generate typedef
  packages/formspree-react/tsconfig.json
Due: yarn prettier --write

change @formspree/react ts target back to es5
  packages/formspree-react/tsconfig.json
Due: yarn prettier --write

yarn changeset
  .changeset/silent-spiders-type.md
Due: yarn prettier --write

tweak comment in github ci workflow
  .github/workflows/ci.yaml
Due: yarn prettier --write

clean up comment
  packages/formspree-react/test/ValidationError.test.tsx
Due: none

move @babel/preset-react to the correct package
  packages/formspree-core/package.json
  packages/formspree-react/package.json
Due: yarn sort-package-json, yarn prettier --write

chore: upgrade jest to v29
  package.json
  packages/formspree-core/jest.config.js
  packages/formspree-core/package.json
  packages/formspree-react/.babelrc
  packages/formspree-react/jest.config.js
  packages/formspree-react/package.json
  turbo.json
  yarn.lock
Due: yarn sort-package-json, yarn prettier --write

enable the new jsx transform
  packages/formspree-react/.babelrc
Due: none

don't use new jsx transform yet to be compatible with current tsconfig
  packages/formspree-core/.babelrc.json
  packages/formspree-react/.babelrc
  packages/formspree-react/.babelrc.json
Due: yarn prettier --write

run test in CI
  .github/workflows/ci.yaml
Due: yarn prettier --write

bring back @swc/core - needed for ts target es5
  packages/formspree-react/package.json
  yarn.lock
Due: yarn sort-package-json, yarn prettier --write

chore: manage typescript at workspace root (#36)
  .changeset/silent-spiders-type.md
  .github/workflows/ci.yaml
  package.json
  packages/formspree-core/forms.d.ts
  packages/formspree-core/package.json
  packages/formspree-core/src/core.ts
  packages/formspree-core/tsconfig.json
  packages/formspree-react/package.json
  packages/formspree-react/src/context.tsx
  packages/formspree-react/src/useForm.ts
  packages/formspree-react/test/ValidationError.test.tsx
  packages/formspree-react/tsconfig.json
  tsconfig.json
  turbo.json
  yarn.lock
Due: yarn sort-package-json, yarn prettier --write

chore: changeset bump versions - core and react
  .changeset/silent-spiders-type.md
  packages/formspree-core/CHANGELOG.md
  packages/formspree-core/package.json
  packages/formspree-react/CHANGELOG.md
  packages/formspree-react/package.json
Due: yarn sort-package-json, yarn prettier --write

chore: changeset bump versions - core and react (#38)
  .changeset/silent-spiders-type.md
  packages/formspree-core/CHANGELOG.md
  packages/formspree-core/package.json
  packages/formspree-react/CHANGELOG.md
  packages/formspree-react/package.json
Due: yarn sort-package-json, yarn prettier --write

chore: automate publishing of packages when merging to main
  .changeset/config.json
  .github/workflows/release.yml
  package.json
Due: yarn sort-package-json, yarn prettier --write

(temporary) run release on any push for verification
  .github/workflows/release.yml
Due: none
