Repository formspree/formspree-js: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn sort-package-json, yarn prettier --write

Revert "(temporary) run release on any push for verification"
  .github/workflows/release.yml
Due: yarn prettier --write

chore: automate publishing of packages when merging to main (#39)
  .changeset/config.json
  .github/workflows/release.yml
  package.json
Due: yarn sort-package-json, yarn prettier --write

add changeset
  .changeset/five-peaches-sell.md
Due: yarn prettier --write

chore: upgrade jest to v29 (#37)
  .changeset/five-peaches-sell.md
  .github/workflows/ci.yaml
  package.json
  packages/formspree-core/.babelrc.json
  packages/formspree-core/jest.config.js
  packages/formspree-core/package.json
  packages/formspree-react/.babelrc
  packages/formspree-react/.babelrc.json
  packages/formspree-react/jest.config.js
  packages/formspree-react/package.json
  turbo.json
  yarn.lock
Due: yarn sort-package-json, yarn prettier --write

chore: update Readme and Contributing guide
  .github/CONTRIBUTING.md
  CONTRIBUTING.md
  README.md
  package.json
  packages/formspree-core/package.json
  packages/formspree-react/package.json
Due: yarn sort-package-json, yarn prettier --write

add comment to release GH action
  .github/workflows/release.yml
Due: yarn prettier --write

update contributing guide: releasing a new version
  CONTRIBUTING.md
Due: yarn prettier --write

chore: various repo devDependencies cleanups
  package.json
  packages/formspree-core/package.json
  packages/formspree-react/package.json
  packages/formspree-react/script/bootstrap
  packages/formspree-react/script/release
  turbo.json
  yarn.lock
Due: yarn sort-package-json, yarn prettier --write

chore: set up ESLint and hook it up to lint-staged
  .eslintrc.yml
  package.json
  packages/formspree-core/.eslintrc.yml
  packages/formspree-core/.lintstagedrc.yml
  packages/formspree-core/package.json
  packages/formspree-react/.eslintrc.yml
  packages/formspree-react/.lintstagedrc.yml
  packages/formspree-react/package.json
  tsconfig.json
  turbo.json
  yarn.lock
Due: yarn sort-package-json, yarn prettier --write

fix lint issues
  packages/formspree-core/src/base64.d.ts
  packages/formspree-core/src/base64.js
  packages/formspree-core/src/core.ts
  packages/formspree-core/src/forms.ts
  packages/formspree-core/src/session.ts
  packages/formspree-core/src/utils.ts
  packages/formspree-react/src/ValidationError.tsx
  packages/formspree-react/src/context.tsx
  packages/formspree-react/src/types.ts
  packages/formspree-react/src/useForm.ts
Due: none

remove redundant suppression of ban-ts-comment rule in formspree-core
  packages/formspree-core/.eslintrc.yml
Due: yarn prettier --write

eslint env es6 is probably not needed
  .eslintrc.yml
Due: yarn prettier --write

reorder import in @formspree/react context.tsx to minimize changes
  packages/formspree-react/src/context.tsx
Due: none

consolidate import in useForm
  packages/formspree-react/src/useForm.ts
Due: none

minor: add comment
  .eslintrc.yml
Due: yarn prettier --write

chore: various repo devDependencies cleanups (#42)
  package.json
  packages/formspree-core/package.json
  packages/formspree-react/package.json
  packages/formspree-react/script/bootstrap
  packages/formspree-react/script/release
  turbo.json
  yarn.lock
Due: yarn sort-package-json, yarn prettier --write

chore: update Readme and Contributing guide (#41)
  .github/CONTRIBUTING.md
  .github/workflows/release.yml
  CONTRIBUTING.md
  README.md
  package.json
  packages/formspree-core/package.json
  packages/formspree-react/package.json
Due: yarn sort-package-json, yarn prettier --write

eslint: ignore dist folder - set ignorePatterns because in IDE, we don't pass glob or list of files to lint
  packages/formspree-core/.eslintrc.yml
  packages/formspree-react/.eslintrc.yml
Due: yarn prettier --write

chore: set up ESLint and hook it up to lint-staged (#43)
  .eslintrc.yml
  package.json
  packages/formspree-core/.eslintrc.yml
  packages/formspree-core/.lintstagedrc.yml
  packages/formspree-core/package.json
  packages/formspree-core/src/base64.d.ts
  packages/formspree-core/src/base64.js
  packages/formspree-core/src/core.ts
  packages/formspree-core/src/forms.ts
  packages/formspree-core/src/session.ts
  packages/formspree-core/src/utils.ts
  packages/formspree-react/.eslintrc.yml
  packages/formspree-react/.lintstagedrc.yml
  packages/formspree-react/package.json
  packages/formspree-react/src/ValidationError.tsx
  packages/formspree-react/src/context.tsx
  packages/formspree-react/src/types.ts
  packages/formspree-react/src/useForm.ts
  tsconfig.json
  turbo.json
  yarn.lock
Due: yarn sort-package-json, yarn prettier --write

fix lint in core: submitForm.test.js
  packages/formspree-core/test/submitForm.test.js
Due: none

fix SubmissionData type is `any`
  packages/formspree-core/src/core.ts
  packages/formspree-core/src/forms.ts
  packages/formspree-core/src/utils.ts
Due: none

update formspree-react context
  packages/formspree-react/src/context.tsx
Due: none

simplify type of plain object as SubmissionData
  packages/formspree-core/src/forms.ts
Due: none

fix types in useForm
  packages/formspree-react/src/useForm.ts
Due: none

Revert "simplify type of plain object as SubmissionData"
  packages/formspree-core/src/forms.ts
Due: none

correct grammar: comment in session
  packages/formspree-core/src/session.ts
Due: none

generate changeset: minor bump core and react
  .changeset/great-mayflies-shake.md
Due: yarn prettier --write

feature: @formspree/react build target es2015
  packages/formspree-react/tsconfig.json
Due: yarn prettier --write

generate changeset
  .changeset/sweet-experts-prove.md
Due: yarn prettier --write

use Partial type util for StripeAddressPayload type
  packages/formspree-react/src/useForm.ts
Due: none

feature: fix types in `@formspree/core` (#44)
  .changeset/great-mayflies-shake.md
  packages/formspree-core/src/core.ts
  packages/formspree-core/src/env.d.ts
  packages/formspree-core/src/forms.ts
  packages/formspree-core/src/index.ts
  packages/formspree-core/src/session.ts
  packages/formspree-core/src/utils.ts
  packages/formspree-core/test/session.test.ts
  packages/formspree-core/test/submitForm.test.js
  packages/formspree-core/test/utils.test.js
  packages/formspree-core/test/utils.test.ts
  packages/formspree-react/src/context.tsx
  packages/formspree-react/src/useForm.ts
Due: yarn prettier --write

refactor submission types
  packages/formspree-core/src/core.ts
  packages/formspree-core/src/forms.ts
  packages/formspree-core/src/index.ts
  packages/formspree-core/src/submission.ts
  packages/formspree-core/src/utils.ts
Due: none

tie SubmissionData to T (submission data object shape)
  packages/formspree-core/src/core.ts
  packages/formspree-core/src/submission.ts
  packages/formspree-core/src/utils.ts
Due: none

test: SubmissionError
  packages/formspree-core/test/submission.test.ts
Due: none

only export Client as type so it's only constructed via intended factory functions
  packages/formspree-core/src/index.ts
Due: none

fix jest config: Response not defined in tests
  packages/formspree-core/.babelrc.json
  packages/formspree-react/.babelrc.json
Due: yarn prettier --write

add jest.config.js to eslintignore
  .eslintignore
Due: none

try to eslint ignore jest config files via eslintrc instead - .eslintignore doesn't seem to work with lint-staged
  .eslintignore
  packages/formspree-core/.eslintrc.yml
  packages/formspree-react/.eslintrc.yml
Due: yarn prettier --write

Fix: ReferenceError: Response is not defined and resolved to wrong @types/jest due to cra-demo
  examples/cra-demo/package.json
  package.json
  packages/formspree-core/jest.config.js
  packages/formspree-core/jest.setup.js
  yarn.lock
Due: yarn sort-package-json, yarn prettier --write

add core tests
  packages/formspree-core/src/core.ts
  packages/formspree-core/src/submission.ts
  packages/formspree-core/src/utils.ts
  packages/formspree-core/test/core.test.ts
  packages/formspree-core/test/form.test.js
  packages/formspree-core/test/submitForm.test.js
Due: none

Path conditions:
  yarn sort-package-json: any of: package.json
  yarn prettier --write: (any of: ./*.{json,md,yaml}) or (any of: *.{json,md,yml})
