Repository formspree/formspree-js: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn sort-package-json, yarn prettier --write

add base changeset file
  .changeset/soft-insects-walk.md
Due: yarn prettier --write

docs: Update example using useSubmit with react-hook-form (#62)
  examples/cra-demo/package.json
  examples/cra-demo/src/App.tsx
  examples/cra-demo/src/WithReactHookForm.tsx
  yarn.lock
Due: yarn sort-package-json, yarn prettier --write

chore: Upgrade Github Actions
  .github/workflows/ci.yaml
  .github/workflows/dependency-review.yml
  .github/workflows/release.yml
Due: yarn prettier --write

Bump (patch) @formspree/core and @formspree/react to fix the release pipeline
  .changeset/curly-insects-joke.md
Due: yarn prettier --write

chore: Upgrade Github Actions (#65)
  .github/workflows/ci.yaml
  .github/workflows/dependency-review.yml
  .github/workflows/release.yml
Due: yarn prettier --write

Bump (patch) @formspree/core and @formspree/react to fix the release pipeline (#66)
  .changeset/curly-insects-joke.md
Due: yarn prettier --write

Bump (patch) @formspree/core and @formspree/react to verify that the release pipeline is fixed
  .changeset/perfect-jobs-raise.md
Due: yarn prettier --write

Bump (patch) @formspree/core and @formspree/react to verify that the release pipeline is fixed (#68)
  .changeset/perfect-jobs-raise.md
Due: yarn prettier --write

Upgrade to React 19 and stripe-js 5
  examples/cra-demo/package.json
  examples/cra-demo/src/App.tsx
  examples/cra-demo/src/CardExample.tsx
  examples/cra-demo/src/React19.tsx
  examples/cra-demo/src/WithReactHookForm.tsx
  examples/cra-demo/src/index.css
  packages/formspree-core/package.json
  packages/formspree-core/src/submission.ts
  packages/formspree-react/package.json
  packages/formspree-react/src/context.tsx
  packages/formspree-react/src/types.ts
  packages/formspree-react/src/useForm.ts
  packages/formspree-react/src/useSubmit.ts
  packages/formspree-react/test/context.test.tsx
  packages/formspree-react/test/useSubmit.test.tsx
  yarn.lock
Due: yarn sort-package-json, yarn prettier --write

remove unused import in useSubmit.test.tsx
  packages/formspree-react/test/useSubmit.test.tsx
Due: none

changeset: major bump
  .changeset/wild-cars-raise.md
Due: yarn prettier --write

Update useSubmit test to check instance of SubmissionError
  packages/formspree-react/test/useSubmit.test.tsx
Due: none

revert react-copy-to-clipboard changes
  examples/cra-demo/package.json
  examples/cra-demo/src/CardExample.tsx
  yarn.lock
Due: yarn sort-package-json, yarn prettier --write

Fix: Stripe not working on @formspree/react
  packages/formspree-react/src/context.tsx
  packages/formspree-react/src/stripe.tsx
  packages/formspree-react/src/useSubmit.ts
Due: none

Changeset
  .changeset/shiny-pears-know.md
Due: yarn prettier --write

Fix: Stripe not working on @formspree/react (#71)
  .changeset/shiny-pears-know.md
  packages/formspree-react/src/context.tsx
  packages/formspree-react/src/stripe.tsx
  packages/formspree-react/src/useSubmit.ts
Due: yarn prettier --write

Revert "Fix: Stripe not working on @formspree/react (#71)"
  .changeset/shiny-pears-know.md
  packages/formspree-react/src/context.tsx
  packages/formspree-react/src/stripe.tsx
  packages/formspree-react/src/useSubmit.ts
Due: yarn prettier --write

Revert "Fix: Stripe not working on @formspree/react (#71)" (#73)
  .changeset/shiny-pears-know.md
  packages/formspree-react/src/context.tsx
  packages/formspree-react/src/stripe.tsx
  packages/formspree-react/src/useSubmit.ts
Due: yarn prettier --write

Fix: Stripe not working on @formspree/react (#71)
  .changeset/wise-wombats-sin.md
  packages/formspree-react/src/context.tsx
  packages/formspree-react/src/stripe.tsx
  packages/formspree-react/src/useSubmit.ts
Due: yarn prettier --write

Fix: Stripe not working on @formspree/react (#74)
  .changeset/wise-wombats-sin.md
  packages/formspree-react/src/context.tsx
  packages/formspree-react/src/stripe.tsx
  packages/formspree-react/src/useSubmit.ts
Due: yarn prettier --write

wire up React 19 example
  examples/cra-demo/src/App.tsx
Due: none

Support React 19 (#70)
  .changeset/wild-cars-raise.md
  examples/cra-demo/package.json
  examples/cra-demo/src/App.tsx
  examples/cra-demo/src/React19.tsx
  examples/cra-demo/src/WithReactHookForm.tsx
  examples/cra-demo/src/index.css
  packages/formspree-core/package.json
  packages/formspree-core/src/submission.ts
  packages/formspree-react/package.json
  packages/formspree-react/src/context.tsx
  packages/formspree-react/src/types.ts
  packages/formspree-react/src/useForm.ts
  packages/formspree-react/src/useSubmit.ts
  packages/formspree-react/test/context.test.tsx
  packages/formspree-react/test/useSubmit.test.tsx
  yarn.lock
Due: yarn sort-package-json, yarn prettier --write

initial base
  examples/ajax-demo/.env.local.template
  examples/ajax-demo/.eslintrc.yml
  examples/ajax-demo/README.md
  examples/ajax-demo/package.json
  examples/ajax-demo/public/index.html
  examples/ajax-demo/public/main.ts
  examples/ajax-demo/tsconfig.json
  examples/ajax-demo/vite.config.ts
  packages/formspree-ajax/.babelrc.json
  packages/formspree-ajax/.eslintrc.yml
  packages/formspree-ajax/LICENSE
  packages/formspree-ajax/README.md
  packages/formspree-ajax/jest.config.js
  packages/formspree-ajax/jest.setup.js
  packages/formspree-ajax/package.json
  packages/formspree-ajax/scripts/fix-dts.js
  packages/formspree-ajax/src/client.ts
  packages/formspree-ajax/src/index.ts
  packages/formspree-ajax/src/types.ts
  packages/formspree-ajax/tsconfig.json
  packages/formspree-ajax/tsup.config.ts
  yarn.lock
Due: yarn sort-package-json, yarn prettier --write

Add @formspree/ajax package
  packages/formspree-ajax/.eslintrc.yml
  packages/formspree-ajax/LICENSE
  packages/formspree-ajax/jest.config.js
  packages/formspree-ajax/jest.setup.js
  packages/formspree-ajax/package.json
  packages/formspree-ajax/src/index.ts
  packages/formspree-ajax/tsconfig.json
Due: yarn sort-package-json, yarn prettier --write

Implement @formspree/ajax package
  .gitignore
  CLAUDE.md
  examples/ajax-demo/index.html
  package.json
  packages/formspree-ajax/.babelrc.json
  packages/formspree-ajax/.lintstagedrc.yml
  packages/formspree-ajax/jest.setup.js
  packages/formspree-ajax/package.json
  packages/formspree-ajax/src/form.ts
  packages/formspree-ajax/src/index.ts
  packages/formspree-ajax/src/types.ts
  packages/formspree-ajax/test/form.test.ts
  turbo.json
  yarn.lock
Due: yarn sort-package-json, yarn prettier --write

Add ajax-demo example and update @formspree/ajax API
  examples/ajax-demo/.env.local.template
  examples/ajax-demo/.eslintrc.yml
  examples/ajax-demo/README.md
  examples/ajax-demo/index.html
  examples/ajax-demo/package.json
  examples/ajax-demo/public/index.html
  examples/ajax-demo/public/main.ts
  examples/ajax-demo/tsconfig.json
  examples/ajax-demo/vite.config.ts
  packages/formspree-ajax/src/form.ts
  packages/formspree-ajax/src/types.ts
  yarn.lock
Due: yarn sort-package-json, yarn prettier --write

Refactor form initialization to use formId instead of formEndpoint
  examples/ajax-demo/public/main.ts
  packages/formspree-ajax/test/form.test.ts
Due: none

Fix esbuild security vulnerability (GHSA-67mh-4wv8-2f99)
  examples/ajax-demo/package.json
  package.json
  yarn.lock
Due: yarn sort-package-json, yarn prettier --write

Add changeset for @formspree/ajax package
  .changeset/cool-pans-obey.md
Due: yarn prettier --write

Add renderErrors, fields config, and customizable functions
  examples/ajax-demo/public/index.html
  examples/ajax-demo/public/main.ts
  packages/formspree-ajax/src/form.ts
  packages/formspree-ajax/src/index.ts
  packages/formspree-ajax/src/types.ts
  packages/formspree-ajax/test/form.test.ts
Due: none

Add data attributes for declarative form behavior
  examples/ajax-demo/public/index.html
  packages/formspree-ajax/src/form.ts
  packages/formspree-ajax/src/index.ts
  packages/formspree-ajax/src/types.ts
Due: none

Refactor error styling by injecting default styles dynamically
  examples/ajax-demo/public/index.html
  packages/formspree-ajax/src/form.ts
Due: none

Add data-fs-message for declarative form-level message display
  examples/ajax-demo/public/index.html
  examples/ajax-demo/public/main.ts
  packages/formspree-ajax/src/form.ts
  packages/formspree-ajax/src/index.ts
  packages/formspree-ajax/src/types.ts
  packages/formspree-ajax/test/form.test.ts
Due: none

Enhance AJAX demo with global script tag support
  .gitignore
  CLAUDE.md
  examples/ajax-demo/public/global-entry.ts
  examples/ajax-demo/public/global.html
  examples/ajax-demo/vite.config.ts
  packages/formspree-ajax/.eslintrc.yml
  packages/formspree-ajax/package.json
  packages/formspree-ajax/src/global.ts
  packages/formspree-ajax/src/ready.ts
  packages/formspree-ajax/src/run.ts
  packages/formspree-ajax/test/global.test.ts
  packages/formspree-ajax/test/ready.test.ts
  packages/formspree-ajax/test/run.test.ts
  packages/formspree-ajax/tsup.config.ts
Due: yarn sort-package-json, yarn prettier --write

Simplify global API, add data-fs-message, and update Formspree branding
  examples/ajax-demo/public/global.html
  examples/ajax-demo/public/index.html
  examples/ajax-demo/public/main.ts
  packages/formspree-ajax/ARCHITECTURE.md
  packages/formspree-ajax/src/form.ts
  packages/formspree-ajax/src/global.ts
  packages/formspree-ajax/src/run.ts
  packages/formspree-ajax/test/global.test.ts
  packages/formspree-ajax/test/run.test.ts
Due: yarn prettier --write

Refactor form error handling and remove unused configurations
  examples/ajax-demo/public/main.ts
  packages/formspree-ajax/src/form.ts
  packages/formspree-ajax/src/index.ts
  packages/formspree-ajax/src/types.ts
  packages/formspree-ajax/test/form.test.ts
Due: none

Update AJAX demo and form handling with improved field attributes and spinner functionality
  .gitignore
  examples/ajax-demo/public/global.html
  examples/ajax-demo/public/index.html
  examples/ajax-demo/public/main.ts
  packages/formspree-ajax/src/form.ts
  packages/formspree-ajax/src/types.ts
  packages/formspree-ajax/test/form.test.ts
Due: none

Enhance README and AJAX library with new features and improvements
  README.md
  packages/formspree-ajax/README.md
  packages/formspree-ajax/src/form.ts
  packages/formspree-ajax/src/types.ts
  packages/formspree-ajax/test/form.test.ts
Due: yarn prettier --write

Refactor error rendering functions in AJAX library for clarity and consistency
  packages/formspree-ajax/README.md
  packages/formspree-ajax/src/form.ts
  packages/formspree-ajax/src/types.ts
  packages/formspree-ajax/test/form.test.ts
Due: yarn prettier --write

Update AJAX library to enhance error and success message handling
  examples/ajax-demo/public/global.html
  examples/ajax-demo/public/index.html
  packages/formspree-ajax/README.md
  packages/formspree-ajax/package.json
  packages/formspree-ajax/src/form.ts
  packages/formspree-ajax/src/types.ts
  packages/formspree-ajax/test/form.test.ts
Due: yarn sort-package-json, yarn prettier --write

Path conditions:
  yarn sort-package-json: any of: package.json
  yarn prettier --write: (any of: ./*.{json,md,yaml}) or (any of: *.{json,md,yml})
