Repository formspree/formspree-js: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn sort-package-json, yarn prettier --write

.lintstagedrc.yaml:

package.json: yarn sort-package-json
'./*.{json,md,yaml}': yarn prettier --write

.lintstagedrc.yml:

package.json: yarn sort-package-json
'*.{json,md,yml}': yarn prettier --write

useForm test: rename mockedFetch -> fetch
  packages/formspree-react/test/useForm.test.tsx
Due: none

rename: SubmissionSuccessResult -> SubmissionSuccess, SubmissionErrorResult -> SubmissionError
  packages/formspree-core/src/core.ts
  packages/formspree-core/src/index.ts
  packages/formspree-core/src/submission.ts
  packages/formspree-core/test/core.test.ts
  packages/formspree-core/test/submission.test.ts
  packages/formspree-react/src/ValidationError.tsx
  packages/formspree-react/src/useForm.ts
  packages/formspree-react/test/ValidationError.test.tsx
Due: none

rename: StripeSCAPending
  packages/formspree-core/src/core.ts
  packages/formspree-core/src/submission.ts
  packages/formspree-core/test/core.test.ts
Due: none

move stripe error codes to FieldError
  packages/formspree-core/src/submission.ts
Due: none

export types: FieldErrorCode and FormErrorCode
  packages/formspree-core/src/index.ts
Due: none

don't export FieldErrorCodeEnum and FormErrorCodeEnum from submission.ts
  packages/formspree-core/src/submission.ts
  packages/formspree-core/test/core.test.ts
  packages/formspree-core/test/submission.test.ts
Due: none

Revert "don't export FieldErrorCodeEnum and FormErrorCodeEnum from submission.ts"
  packages/formspree-core/src/submission.ts
  packages/formspree-core/test/core.test.ts
  packages/formspree-core/test/submission.test.ts
Due: none

create type guard: isSubmissionError
  packages/formspree-core/src/index.ts
  packages/formspree-core/src/submission.ts
  packages/formspree-react/src/useForm.ts
Due: none

ValidationError should infer type from errors props
  packages/formspree-react/src/ValidationError.tsx
Due: none

feature: improve error handling for @formspree/core (#47)
  .changeset/orange-otters-teach.md
  examples/cra-demo/package.json
  package.json
  packages/formspree-core/.eslintrc.yml
  packages/formspree-core/jest.config.js
  packages/formspree-core/jest.setup.js
  packages/formspree-core/src/core.ts
  packages/formspree-core/src/forms.ts
  packages/formspree-core/src/index.ts
  packages/formspree-core/src/submission.ts
  packages/formspree-core/src/utils.ts
  packages/formspree-core/test/core.test.ts
  packages/formspree-core/test/form.test.js
  packages/formspree-core/test/submission.test.ts
  packages/formspree-core/test/submitForm.test.js
  packages/formspree-react/.eslintrc.yml
  packages/formspree-react/jest.config.js
  packages/formspree-react/jest.setup.js
  packages/formspree-react/src/ValidationError.tsx
  packages/formspree-react/src/context.tsx
  packages/formspree-react/src/types.ts
  packages/formspree-react/src/useForm.ts
  packages/formspree-react/test/ValidationError.test.tsx
  packages/formspree-react/test/__snapshots__/ValidationError.test.tsx.snap
  packages/formspree-react/test/context.test.js
  packages/formspree-react/test/helpers.js
  packages/formspree-react/test/useForm.test.js
  packages/formspree-react/test/useForm.test.tsx
  yarn.lock
Due: yarn sort-package-json, yarn prettier --write

don't export non public apis just for testing
  packages/formspree-core/src/index.ts
  packages/formspree-react/test/useSubmit.test.tsx
Due: none

correct typo: FromspreeContextType -> FormspreeContextType
  packages/formspree-react/src/context.tsx
  packages/formspree-react/src/index.ts
Due: none

restore export SubmissionError from core
  packages/formspree-core/src/index.ts
Due: none

submit handler return Promise<void> for backward compatibility
  packages/formspree-react/src/useForm.ts
  packages/formspree-react/src/useSubmit.ts
Due: none

remove onSettled
  packages/formspree-react/src/useForm.ts
  packages/formspree-react/src/useSubmit.ts
  packages/formspree-react/test/useSubmit.test.tsx
Due: none

generate changeset
  .changeset/thirty-ladybugs-bow.md
Due: yarn prettier --write

need to import stripe with pure.js instead of pure
  packages/formspree-react/src/context.tsx
  packages/formspree-react/test/context.test.tsx
  packages/formspree-react/test/useSubmit.test.tsx
Due: none

add unit test to ensure CardElement can be rendered without an error when using with FormspreeProvider
  packages/formspree-react/test/context.test.tsx
Due: none

update context to pass stripe via Elements
  packages/formspree-react/src/context.tsx
  packages/formspree-react/test/context.test.tsx
  packages/formspree-react/test/mockStripe.ts
Due: none

pass stripe via client
  packages/formspree-react/src/context.tsx
  packages/formspree-react/src/useSubmit.ts
  packages/formspree-react/test/context.test.tsx
  packages/formspree-react/test/mockStripe.ts
  packages/formspree-react/test/useSubmit.test.tsx
Due: none

feature: @formspree/react useSubmit hook (#48)
  .changeset/thirty-ladybugs-bow.md
  packages/formspree-core/src/core.ts
  packages/formspree-core/src/submission.ts
  packages/formspree-core/test/core.test.ts
  packages/formspree-react/src/context.tsx
  packages/formspree-react/src/index.ts
  packages/formspree-react/src/useForm.ts
  packages/formspree-react/src/useSubmit.ts
  packages/formspree-react/test/context.test.js
  packages/formspree-react/test/context.test.tsx
  packages/formspree-react/test/mockStripe.ts
  packages/formspree-react/test/useForm.test.tsx
  packages/formspree-react/test/useSubmit.test.tsx
Due: yarn prettier --write

chore: remove unused package-specific yarn.lock
  packages/formspree-core/yarn.lock
  packages/formspree-react/yarn.lock
Due: none

add changeset
  .changeset/thin-tigers-swim.md
Due: yarn prettier --write

chore: add Dependency Review GH workflow
  .github/workflows/dependency-review.yml
Due: yarn prettier --write

Add CodeQL workflow
  .github/workflows/codeql.yml
Due: yarn prettier --write

chore: remove unused package-specific yarn.lock (#49)
  .changeset/thin-tigers-swim.md
  packages/formspree-core/yarn.lock
  packages/formspree-react/yarn.lock
Due: yarn prettier --write

chore: add Dependency Review GH workflow (#50)
  .github/workflows/dependency-review.yml
Due: yarn prettier --write

test: fix failing tests due to hardcoded pkg versions
  packages/formspree-core/test/core.test.ts
  packages/formspree-react/test/useForm.test.tsx
Due: none

feature: (type) support array for field value
  packages/formspree-core/src/submission.ts
Due: none

generate changeset
  .changeset/gorgeous-dogs-sniff.md
Due: yarn prettier --write

test: fix failing tests due to hardcoded pkg versions (#56)
  packages/formspree-core/test/core.test.ts
  packages/formspree-react/test/useForm.test.tsx
Due: none

chore: cra-demo uses repo default dependencies
  examples/cra-demo/.eslintrc.yml
  examples/cra-demo/package.json
  examples/cra-demo/src/App.tsx
  examples/cra-demo/src/index.css
  yarn.lock
Due: yarn sort-package-json, yarn prettier --write

feature: (type) support array as field value (#57)
  .changeset/gorgeous-dogs-sniff.md
  packages/formspree-core/src/submission.ts
Due: yarn prettier --write

chore: cra-demo uses repo default dependencies (#58)
  examples/cra-demo/.eslintrc.yml
  examples/cra-demo/package.json
  examples/cra-demo/src/App.tsx
  examples/cra-demo/src/index.css
  yarn.lock
Due: yarn sort-package-json, yarn prettier --write

docs: Update example using useSubmit with react-hook-form
  examples/cra-demo/package.json
  examples/cra-demo/src/App.tsx
  examples/cra-demo/src/WithReactHookForm.tsx
  examples/cra-demo/yarn.lock
  package.json
Due: yarn sort-package-json, yarn prettier --write

revert making examples not part of monorepo
  examples/cra-demo/yarn.lock
  package.json
  yarn.lock
Due: yarn sort-package-json, yarn prettier --write

getting basic astro-react demo working
  examples/astro-react-demo/.gitignore
  examples/astro-react-demo/README.md
  examples/astro-react-demo/astro.config.mjs
  examples/astro-react-demo/package.json
  examples/astro-react-demo/public/favicon.svg
  examples/astro-react-demo/src/components/ContactForm.css
  examples/astro-react-demo/src/components/ContactForm.tsx
  examples/astro-react-demo/src/components/Counter.css
  examples/astro-react-demo/src/components/Counter.tsx
  examples/astro-react-demo/src/env.d.ts
  examples/astro-react-demo/src/pages/index.astro
  examples/astro-react-demo/tsconfig.json
  examples/astro-react-demo/yarn.lock
  package.json
  packages/formspree-astro/README.md
  packages/formspree-astro/package.json
  packages/formspree-core/package.json
  packages/formspree-react/package.json
  packages/formspree-react/tsconfig.json
  turbo.json
  yarn.lock
Due: yarn sort-package-json, yarn prettier --write

improving error styles
  examples/astro-react-demo/src/components/ContactForm.css
  examples/astro-react-demo/src/components/ContactForm.tsx
Due: none

test upgrade to react 19
  examples/cra-demo/package.json
  packages/formspree-react/package.json
  yarn.lock
Due: yarn sort-package-json, yarn prettier --write

upgrade all depedent packages to react 19; use a resolution to force react-copy-to-clipboard to use react 19
  package.json
  packages/formspree-core/package.json
  packages/formspree-react/package.json
  packages/formspree-react/src/context.tsx
  packages/formspree-react/test/context.test.tsx
  packages/formspree-react/test/useSubmit.test.tsx
  yarn.lock
Due: yarn sort-package-json, yarn prettier --write
