Repository formspree/formspree-js: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn sort-package-json, yarn prettier --write

.lintstagedrc.yaml:

package.json: yarn sort-package-json
'./*.{json,md,yaml}': yarn prettier --write

.lintstagedrc.yml:

package.json: yarn sort-package-json
'*.{json,md,yml}': yarn prettier --write

Enhance form configuration with optional default styles
  packages/formspree-ajax/src/form.ts
  packages/formspree-ajax/src/types.ts
Due: none

remove spinner styles
  packages/formspree-ajax/src/form.ts
Due: none

Enhance form configuration to support project ID
  packages/formspree-ajax/src/form.ts
  packages/formspree-ajax/src/types.ts
Due: none

Refactor form handling and utility functions for improved clarity and functionality
  packages/formspree-ajax/src/form.ts
  packages/formspree-ajax/src/utils.ts
  packages/formspree-ajax/test/form.test.ts
  packages/formspree-ajax/test/utils.test.ts
Due: none

Remove ARCHITECTURE.md
  packages/formspree-ajax/ARCHITECTURE.md
Due: yarn prettier --write

Update package dependencies and downgrade `tsup` version to 6.2.2 for compatibility
  package.json
  yarn.lock
Due: yarn sort-package-json, yarn prettier --write

revert tubo
  turbo.json
Due: yarn prettier --write

Update turbo.json to rename 'pipeline' to 'tasks' for improved clarity in task management
  turbo.json
Due: yarn prettier --write

Address PR review feedback from colevscode
  README.md
  examples/ajax-demo/public/global.html
  examples/ajax-demo/public/index-cdn.html
  examples/ajax-demo/public/index-packages.html
  examples/ajax-demo/public/index.html
  examples/ajax-demo/public/styles.css
  examples/ajax-demo/vite.config.ts
  packages/formspree-ajax/README.md
  packages/formspree-ajax/package.json
  packages/formspree-ajax/src/form.ts
  packages/formspree-ajax/src/global.ts
  packages/formspree-ajax/src/index.ts
  packages/formspree-ajax/src/run.ts
  packages/formspree-ajax/src/types.ts
  packages/formspree-ajax/src/utils.ts
  packages/formspree-ajax/test/global.test.ts
  packages/formspree-ajax/test/run.test.ts
Due: yarn sort-package-json, yarn prettier --write

Fix race condition in form submission and error handling in queue flush
  packages/formspree-ajax/src/form.ts
  packages/formspree-ajax/src/global.ts
Due: none

update license
  packages/formspree-ajax/LICENSE
Due: none

Shorten unpkg CDN URLs to use package-level resolution
  README.md
  examples/ajax-demo/public/global-entry.ts
  examples/ajax-demo/public/index-cdn.html
  packages/formspree-ajax/README.md
Due: yarn prettier --write

Add main demo page and update vite config entry points
  examples/ajax-demo/public/index-cdn.html
  examples/ajax-demo/public/index.html
  examples/ajax-demo/vite.config.ts
Due: none

Release @formspree/ajax@1.1.0
  .changeset/cool-pans-obey.md
  packages/formspree-ajax/CHANGELOG.md
  packages/formspree-ajax/package.json
Due: yarn sort-package-json, yarn prettier --write

Migrate release workflow to npm OIDC trusted publishing
  .github/workflows/release.yml
Due: yarn prettier --write

feat(@formspree/ajax): set aria-busy on form during submission
  .changeset/ajax-aria-busy.md
  packages/formspree-ajax/src/utils.ts
Due: yarn prettier --write

feat(@formspree/ajax): set aria-busy on form during submission (#80)
  .changeset/ajax-aria-busy.md
  packages/formspree-ajax/src/utils.ts
Due: yarn prettier --write

Fix npm auth in release workflow by adding registry-url to setup-node
  .github/workflows/release.yml
Due: yarn prettier --write

Add changeset for @formspree/ajax patch bump
  .changeset/fix-release-npm-auth.md
Due: yarn prettier --write

Remove unused client.ts that caused typecheck failure
  .superset/config.json
  packages/formspree-ajax/src/client.ts
Due: yarn prettier --write

Remove accidentally committed .superset/config.json
  .superset/config.json
Due: yarn prettier --write

Fix npm auth in release workflow (#82)
  .changeset/fix-release-npm-auth.md
  .github/workflows/release.yml
  packages/formspree-ajax/scripts/fix-dts.js
Due: yarn prettier --write

Use npm OIDC token exchange instead of stored NPM_TOKEN
  .changeset/fix-release-npm-oidc.md
  .github/workflows/release.yml
Due: yarn prettier --write

Use npm OIDC token exchange instead of stored NPM_TOKEN (#84)
  .changeset/fix-release-npm-oidc.md
  .github/workflows/release.yml
Due: yarn prettier --write

Pass OIDC-exchanged token as NPM_TOKEN so changesets uses it directly
  .github/workflows/release.yml
Due: yarn prettier --write

Add changeset for @formspree/ajax patch bump
  .changeset/fix-oidc-npm-token.md
Due: yarn prettier --write

Pass OIDC token as NPM_TOKEN to changesets (#86)
  .changeset/fix-oidc-npm-token.md
  .github/workflows/release.yml
Due: yarn prettier --write

Upgrade to Node 22 and remove manual OIDC exchange step
  .github/workflows/release.yml
Due: yarn prettier --write

Add changeset for @formspree/ajax patch bump
  .changeset/fix-release-node22.md
Due: yarn prettier --write

Upgrade to Node 24 (bundles npm 11 required for OIDC trusted publishing)
  .github/workflows/release.yml
Due: yarn prettier --write

Upgrade to Node 24 for npm OIDC trusted publishing (#88)
  .changeset/fix-release-node22.md
  .github/workflows/release.yml
Due: yarn prettier --write

Simplify root README with concise package descriptions and yarn-only install commands
  README.md
Due: yarn prettier --write

Improve @formspree/ajax README with clearer bundler vs CDN quick start paths
  packages/formspree-ajax/README.md
Due: yarn prettier --write

Add comprehensive @formspree/react README and update @formspree/core with monorepo links
  packages/formspree-core/README.md
  packages/formspree-react/README.md
Due: yarn prettier --write

Restore releasing section in @formspree/core README
  packages/formspree-core/README.md
Due: yarn prettier --write

Add all package manager options to root README install commands
  README.md
Due: yarn prettier --write

Update README files across all packages (#90)
  README.md
  packages/formspree-ajax/README.md
  packages/formspree-core/README.md
  packages/formspree-react/README.md
Due: yarn prettier --write
